@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "responsive.scss";

main{
	font-family: "Roboto", sans-serif;
	header{
		position: fixed;
		z-index: 99999999;
		top: 0;
		left: 0;
		width: 100%;
		background: rgba(#fff,.9);
		padding: 15px 0;
		box-shadow:
		0px 2px 2.7px rgba(0, 0, 0, 0.034),
		0px 5px 6.9px rgba(0, 0, 0, 0.049),
		0px 10.3px 14.2px rgba(0, 0, 0, 0.061),
		0px 21.2px 29.2px rgba(0, 0, 0, 0.076),
		0px 58px 80px rgba(0, 0, 0, 0.11)
		;
		.logo{
			img{
				height: 50px;
			}
		}
		.menu{
			.menu_trigger{
				font-size: 32px;
				cursor: pointer;
			}
			ul{
				padding: 0;
				margin: 0;
				list-style-type: none;
				display: flex;
				align-items: center;
				li{
					a,button{
						padding: 5px 15px;
						text-decoration: none;
						color: #bc5821;
						transition: .5s ease all;
						&:hover{
							transition: .5s ease all;
							color: #516985;
						}
						&.active{
							font-weight: bold;
							color: #516985;
						}
					}
					button{
						background: #bc5821;
						border-radius: 4px;
						border: 0;
						color: #fff;
					}
				}
			}
		}
	}
	section.body{
		margin-top: 110px;
		.horizontal-banner{
			margin-bottom: 30px;
		}
		.featured{
			margin-bottom: 30px;
			.first-news{
				border-radius: 8px;
				border: 1px solid rgba(#000,.07);
				overflow: hidden;
				transition: .5s ease all;
				.cage-image{
					position: relative;
					overflow: hidden;
					margin-bottom: 15px;
					.image{
						width: 100%;
						height: 300px;
						background-position: center center;
						background-repeat: no-repeat;
						background-size: cover;
						transition: 1s ease all;
					}
					.categories{
						position: absolute;
						z-index: 2;
						top: 0;
						left: 0;
						padding: 4px 15px;
						background: rgba(#000,.5);
						color: #fff;
						text-decoration: none;
						font-weight: bold;
						transition: 1s ease all;
					}
					&:hover{
						.image{
							transform: scale(1.3) rotate(10deg);
						}
						.categories{
							background: rgba(#fff,.9);
							color: #bc5821;
						}
						transition: 1s ease all;
					}
				}
				.cage-content{
					padding: 0 15px;
					.pre-title{
						font-size: 14px;
						display: flex;
						margin-bottom: 15px;
						.contributor{
							padding-right: 10px;
							margin-right: 10px;
							border-right: 1px solid #000;
							a{
								display: block;
								text-decoration: none;
								color: #bc5821;
								font-weight: bold;
							}
						}
					}
					h1.title{
						font-family: "Lobster Two", sans-serif;
						font-size: 28px;
						color: #516985;
						transition: .5s ease all;
						a{
							display: block;
							text-decoration: none;
							color: inherit;
						}
						&:hover{
							color: #bc5821;
							transition: .5s ease all;
						}
					}
					p.description{
						font-size: 14px;
						margin-bottom: 30px;
					}
				}
				&:hover{
					box-shadow:
					0px 2.8px 2.2px rgba(0, 0, 0, 0.02),
					0px 6.7px 5.3px rgba(0, 0, 0, 0.028),
					0px 12.5px 10px rgba(0, 0, 0, 0.035),
					0px 22.3px 17.9px rgba(0, 0, 0, 0.042),
					0px 41.8px 33.4px rgba(0, 0, 0, 0.05),
					0px 100px 80px rgba(0, 0, 0, 0.07)
					;
					transition: .5s ease all;
				}
			}
			ul{
				list-style: none;
				padding: 0;
				li{
					.list-news{
						border-radius: 8px;
						border: 1px solid rgba(#000,.07);
						overflow: hidden;
						height: 100%;
						transition: .5s ease all;
						.cage-image{
							position: relative;
							overflow: hidden;
							margin-bottom: 15px;
							.image{
								width: 100%;
								height: 150px;
								background-position: center center;
								background-repeat: no-repeat;
								background-size: cover;
								transition: 1s ease all;
							}
							.categories{
								position: absolute;
								font-size: 13px;
								z-index: 2;
								top: 0;
								left: 0;
								padding: 4px 15px;
								background: rgba(#000,.5);
								color: #fff;
								text-decoration: none;
								font-weight: bold;
								transition: 1s ease all;
							}
							&:hover{
								.image{
									transform: scale(1.3) rotate(10deg);
								}
								.categories{
									background: rgba(#fff,.9);
									color: #bc5821;
								}
								transition: 1s ease all;
							}
						}
						.cage-content{
							padding: 0 15px;
							.pre-title{
								font-size: 10px;
								display: flex;
								margin-bottom: 5px;
								.contributor{
									padding-right: 10px;
									margin-right: 10px;
									border-right: 1px solid #000;
									a{
										display: block;
										text-decoration: none;
										color: #bc5821;
										font-weight: bold;
									}
								}
							}
							h1.title{
								font-family: "Lobster Two", sans-serif;
								font-size: 14px;
								color: #516985;
								margin-bottom: 20px;
								transition: .5s ease all;
								a{
									display: block;
									text-decoration: none;
									color: inherit;
								}
								&:hover{
									color: #bc5821;
									transition: .5s ease all;
								}
							}
						}
						&:hover{
							box-shadow:
							0px 2.8px 2.2px rgba(0, 0, 0, 0.02),
							0px 6.7px 5.3px rgba(0, 0, 0, 0.028),
							0px 12.5px 10px rgba(0, 0, 0, 0.035),
							0px 22.3px 17.9px rgba(0, 0, 0, 0.042),
							0px 41.8px 33.4px rgba(0, 0, 0, 0.05),
							0px 100px 80px rgba(0, 0, 0, 0.07)
							;
							transition: .5s ease all;
						}
					}
				}
			}
		}
		.second-featured{
			margin-bottom: 30px;
			position: relative;
			.content{
				position: relative;
				display: block;
				width: 100%;
				height: 250px;
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;
				&::before{
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 50%;
					background: linear-gradient(to top, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 30%, rgba(255,255,255,0) 100%);
					transition: .5s ease all;
				}
				h1{
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					padding: 10px;
					font-size: 14px;
					color: #fff;
				}
				&:hover{
					&::before{
						height: 100%;
						background: linear-gradient(to top, rgba(#fff,1) 0%, rgba(255,255,255,0) 100%);
					}
					h1{
						color: #bc5821;
					}
					transition: .5s ease all;
				}
			}
		}
		.flash-news{
			margin-bottom: 30px;
			.header{
				margin-bottom: 15px;
				h2{
					font-size: 18px;
					font-weight: bold;
				}
				a{
					text-decoration: none;
					color: #bc5821;
					font-weight: bold;
				}
			}
			.content{
				display: flex;
				width: 100%;
				text-decoration: none;
				.image{
					width: 130px;
					height: 130px;
					background-size: cover;
					background-position: center center;
					background-repeat: no-repeat;
					margin-right: 10px;
				}
				.text{
					width: calc(100% - 130px);
					.pre-title{
						font-size: 12px;
						display: flex;
						margin-bottom: 5px;
						.categories{
							margin-right: 5px;
						}
						.times{
							color: #000;
						}
					}
					h1.title{
						font-size: 18px;
						color: #516985;
						margin-bottom: 20px;
						transition: .5s ease all;
						a{
							display: block;
							text-decoration: none;
							color: inherit;
						}
						&:hover{
							color: #bc5821;
							transition: .5s ease all;
						}
					}
				}
			}
		}
		.admin-content{
			margin-bottom: 60px;
		}
		&.news-detail{
			.news-content{
				.pre-title{
					font-size: 14px;
					display: flex;
					margin-bottom: 15px;
					.contributor,.category{
						padding-right: 10px;
						margin-right: 10px;
						border-right: 1px solid #000;
						a{
							display: block;
							text-decoration: none;
							color: #bc5821;
							font-weight: bold;
						}
					}
				}
				h1.title{
					font-family: "Lobster Two", sans-serif;
					font-size: 28px;
					color: #516985;
					transition: .5s ease all;
					a{
						display: block;
						text-decoration: none;
						color: inherit;
					}
					&:hover{
						color: #bc5821;
						transition: .5s ease all;
					}
				}
				.main-image{
					width: 100%;
					margin-bottom: 15px;
				}
				.socmed-share{
					p{
						margin-bottom: 8px;
					}
					ul{
						display: flex;
						list-style: none;
						padding: 0;
						li{
							a{
								font-size: 14px;
								margin-right: 10px;
								display: flex;
								align-items: center;
								color: #000;
								i{
									font-size: 32px;
									margin-right: 5px;
								}
								i.fa-square-facebook{
									color: #4267B2;
								}
								i.fa-square-twitter{
									color: #1DA1F2;
								}
								i.fa-square-whatsapp{
									color: #128C7E;
								}
							}
						}
					}
				}
			}
			.sidebar{
				.popular{
					margin-bottom: 30px;
					h3{
						font-size: 24px;
						margin-bottom: 15px;
					}
					ul{
						list-style: none;
						position: relative;
						li{
							margin-bottom: 15px;
							a{
								display: block;
								text-decoration: none;
								color: #516985;
								font-size: 14px;
								span{
									position: absolute;
									left: 0;
									color: rgba(#000,.5);
									font-size: 18px;
								}
								&:hover{
									color: #bc5821;	
								}
							}
						}
					}
				}
				.sidebar_ads{
					margin-bottom: 30px;
					img{
						width: 100%;
					}
				}
			}
		}
	}
	footer{
		.top{
			border-bottom: 1px solid rgba(#000,.5);
			.badge{
				height: 100%;
				padding: 15px 0;
				border-top: 2px solid #000;
				border-radius: 0;
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				svg,img{
					height: 80px;
				}
			}
			.link{
				padding: 15px 0;
				border-top: 2px solid #000;
				border-radius: 0;
				ul{
					padding-left: 0;
					margin: 0;
					list-style: none;
					li{
						margin-bottom: 8px;
						a{
							display: block;
							text-decoration: none;
							color: #777777;
							font-size: 13px;
						}
					}
				}
			}
		}
		.copyright{
			padding: 15px 0;
			text-align: center;
			font-size: 12px;
			color: rgba(#000,.5);
		}
	}
	section.login{
		width: 100%;
		height: 100vh;
		background: linear-gradient(to bottom, rgba(81,105,133,1) 0%, rgba(188,88,33,1) 100%);
		.logo{
			max-height: 70px;
			max-width: 100%;
		}
		.ajax{
			width: 100%;
			background: rgba(#fff,.5);
			padding: 15px;
			border-radius: 10px;
		}
	}
}

div.dt-container .dt-paging .dt-paging-button{
	padding: 0;
}