@media (max-width: 991.98px) {
    body{
        main{
            header{
                .menu{
                    ul{
                        display: block;
                        position: fixed;
                        top: 0;
                        right: -60%;
                        width: 60%;
                        height: 100vh;
                        background: #516985;
                        padding-top: 60px;
                        transition: .5s ease right;
                        li{
                            text-align: right;
                            a{
                                color: #fff;
                                display: block;
                                padding: 8px 30px;
                                &:hover{
                                    color: #bc5821 !important;
                                }
                                &.active{
                                    color: #bc5821;
                                }
                            }
                            button{
                                margin-right: 30px;
                                margin-top: 10px;
                            }
                            &.menu_close_trigger{
                                position: absolute;
                                top: 15px;
                                left: 30px;
                                color: #fff;
                                display: flex;
                                align-items: center;
                                cursor: pointer;
                                i{
                                    font-size: 32px;
                                    margin-right: 7px;
                                }
                            }
                        }
                        &.active{
                            right: 0;
                            transition: .5s ease right;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 575.98px) {
    body{
        main{
            header{
                .menu{
                    ul{
                        right: -100%;
                        width: 100%;
                    }
                }
            }
        }
    }
}
